/* 初始化  默认盒模型为border-box */

html,
body,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* 安卓有字体上浮问题 */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
        Helvetica, Arial, sans-serif; */
}
body {
    width: 100%;
    height: 100%;
    color: #1e1e1e;
    /* 禁止微信字体放大 */
    text-size-adjust: 100% !important;
}
* {
    box-sizing: inherit;
}
*:before,
*:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    background-color: transparent;
}
ul,
li {
    list-style: none outside none;
}

/* 以下兼容safari与chrome显示差异 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

button {
    outline: 0;
    border: none;
    background-color: transparent;
}
