/* 移动端设置 */
body {
    user-select: none;
    font-size: 16px;
    max-width: 640px;
    margin: 0 auto;
}

.line-1px-bottom {
    position: relative;
}
.line-1px-bottom::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}
.line-1px-top {
    position: relative;
}
.line-1px-top::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}
.line-1px-all {
    position: relative;
}
.line-1px-all::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}
.line-1px-all::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}
