/* 移动端设置 */
html {
    font-size: 16px;
}

body {
    user-select: none;
    /* 如果不是纯移动端页面(这时候不要使用vw布局) 需要设置下面参数 */
    /* max-width: 768px;
    margin: 0 auto; */
}

.line-1px-top {
    position: relative;
}
.line-1px-top::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform: scaleY(0.5);
    z-index: 1;
}
.line-1px-bottom {
    position: relative;
}
.line-1px-bottom::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform: scaleY(0.5);
    z-index: 1;
}
.line-1px-all {
    position: relative;
}

.line-1px-all::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform: scaleY(0.5);
    z-index: 1;
}
.line-1px-all::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #f0f0f0;
    color: #f0f0f0;
    transform: scaleY(0.5);
    z-index: 1;
}
